body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://t3.ftcdn.net/jpg/02/11/52/42/360_F_211524227_Ett8aboQvVnROAFtqu3S1pW99Y3Th9vm.jpg'); /* Add the URL of your background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.weather-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.search {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: mediumvioletred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}

.error {
    color: red;
    margin-top: 20px;
}
